[Desktop Entry]
Type=Application
Exec=/app/ida-free/ida %f
Name=IDA Free
Comment=Interactive Disassembler Professional
Icon=com.hexrays.IDA-Free
Terminal=false
